/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    text-decoration: none;
}

/* Estilos para o cabeçalho */
header {
    width: 100%;
    height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 3px black;
    align-items: center;
    background: radial-gradient(circle, rgba(253,29,29,1) 70%, rgba(252,176,69,1) 80%);
}

/* Checkbox para modo noturno */
#check {
    opacity: 0;
    position: absolute;
}

/* Ícones do modo noturno */
.fa-moon {
    color: rgba(131,58,180,1);
}

.fa-sun {
    color: rgba(252,176,69,1);
}

/* Estilos do switch para modo noturno */
.label {
    margin: 0 30px;
    background: rgba(253,29,29,1);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translate(0);
    transition: transform 0.2s linear;
}

#check:checked + .label .ball {
    transform: translateX(24px);
}

/* Estilos de navegação */
.navegar {
    margin: 0 33.3%;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.link {
    font-size: 25px;
    color: white;
    transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
    padding: 5px;
}

.link:hover {
    color: rgba(253,29,29,1);
    cursor: pointer;
    background-color: white;
    border-radius: 25px;
}

/* Estilos para o conteúdo principal */
main {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

/* Título */
.titulo {
    font-weight: bolder;
    font-size: 25px;
    padding: 20px 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Tópico */
.topico {
    font-weight: bolder;
    font-size: 25px;
    padding: 20px 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Estilo para o destaque */
span {
    color: rgba(253,29,29,1);
}

/* Seção */
section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

/* Estilos para o formulário de contato */
.contato {
    width: 500px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 3px 3px black;
    display: flex;
}

#contato-conteudo {
    width: 295px;
    height: 550px;
    color: black;
    margin: 100px 77.5px;
}

.contato-tema {
    width: 140px;
    height: 550px;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(131,58,180,1) 30%, rgba(253,29,29,1) 70%, rgba(252,176,69,1) 80%);
}

#contato-conteudo input, #contato-conteudo textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    background: none;
    font-size: larger;
    padding: 10px 5px;
    width: 100%;
    transition: border-color 0.3s;
    color: black;
}

#contato-conteudo input:focus, #contato-conteudo textarea:focus {
    border-bottom: 2px solid rgba(253,29,29,1);
    outline: none;
}

#contato-conteudo input:hover, #contato-conteudo textarea:hover {
    border-bottom: 2px solid #aaa;
}

#contato-conteudo input::placeholder, #contato-conteudo textarea::placeholder {
    color: #ccc;
    font-size: larger;
}

#campo {
    align-items: center;
    font-size: 10px;
}

fieldset {
    border: none;
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
}

#contato-conteudo button {
    cursor: pointer;
    border-radius: 10px;
    border: solid rgba(253,29,29,1);
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    background: rgba(253,29,29,1);
    color: white;
    transition: background 0.3s, color 0.3s;
}

#contato-conteudo button:hover {
    background: white;
    color: rgba(253,29,29,1);
    border-color:rgba(253,29,29,1);
}

.aviso {
    color: red;
    display: none;
}

/* Estilos do modal */
#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 4;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 5;
    width: 300px;
    height: fit-content;
    box-shadow: 0px 3px 3px 3px black;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h2 {
    font-size: 20px;
}

.hide {
    display: none;
}

/* Estilos para o rodapé */
footer {
    width: 100%;
    display: flex;
    height: 120px;
    background: radial-gradient(circle, rgba(253,29,29,1) 70%, rgba(252,176,69,1) 80%);
    justify-content: center;
    align-items: center;
}

.rodape {
    text-align: center;
    font-size: larger;
    color: white;
}

/* Modo noturno */
body.dark-mode main {
    background-color: rgb(3, 0, 27);
    color: white;
}

body.dark-mode .ball.mover {
    transform: translateX(24px);
}

body.dark-mode .contato {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode #contato-conteudo {
    color: white;
}

body.dark-mode #contato-conteudo input,
body.dark-mode #contato-conteudo textarea {
    color: white;
    border-bottom-color: #666;
}

body.dark-mode #contato-conteudo input::placeholder,
body.dark-mode #contato-conteudo textarea::placeholder {
    color: #999;
}

body.dark-mode #modal {
    background-color: #1e1e1e;
    color: white;
}