*{
    margin: 0;
    box-sizing: border-box; 
    text-decoration: none; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 3px black;
    align-items: center;
    background: radial-gradient(circle, rgba(253,29,29,1) 70%, rgba(252,176,69,1) 80%);
}

#check{
    opacity: 0;
    position: absolute;
}

.fa-moon{
    color: rgba(131,58,180,1);
}

.fa-sun{
    color: rgba(252,176,69,1);
}

.label {
    margin: 0px 30px;
    background: rgba(253,29,29,1);
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label  .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translate(0px);
    transition: transform 0.2s linear;
}

#check:checked + .label .ball {
    transform: translateX(24px);
}

.botao-icone{
    width: 22px;
    height: 22px;        
    display: flex;
}

.navegar{
    margin: 0% 33.3%;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.link{
    font-size: 25px;
    color: white;
    transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
    padding: 5px;
}

.link:hover{
    color: rgba(253,29,29,1);
    cursor: pointer;
    background-color: white;
    border-radius: 25px;
}

main{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.titulo{
    font-weight: bolder; 
    font-size: 25px;
    padding: 20px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.topico{
    font-weight: bolder; 
    font-size: 25px;
    padding: 20px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}

span{
    color: rgba(253,29,29,1);
}

.card-container{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
 
.card{
    width: 260px;
    height: 220px;
    background: radial-gradient(circle, rgba(131,58,180,1) 30%, rgba(253,29,29,1) 70%, rgba(252,176,69,1) 80%);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px black;
    transition: transform 0.7s;
}

.card-background{
    width: 245px;
    height: 220px;
    border-radius: 10px;
    background-color: white;
    margin-left: 15px;
}

.card:hover{
   transform: scale(1.1);
   cursor: pointer;
}

.fotos-card{
    width: 234px;
    height: 198px;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    margin: 12px 5.5px;
}

.apresentacao{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content; 
}

.curriculo{
    width: 1100px;
    height: 550px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 3px 3px black;
    display: flex;
}

#curriculo-conteudo{
    height: 550px;
    width: 895px;
}

#marca-linha, #modelo-linha, #ano-linha, #consumo-linha, #motor-linha, #cambio-linha{
    display: flex;
}

#imagem-carros{
    width: 895px;
    height: 550px;
    border-radius: 0px 10px 10px 0;
}

.textos-carros{
    color: black;
    font-size: 30px;
    padding: 15px;
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 0 25%;
}

button {
    background: rgba(253,29,29,1);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    width: 80px;
    height: 90px;
    border-radius: 10px;
    font-size:xx-large;
    margin: 250px 0px;
}

button:hover {
    background: rgba(252,176,69,1);
}

.curriculo-tema{
    width: 205px;
    height: 550px;
    border-radius: 10px 0 0px 10px;
    background: radial-gradient(circle, rgba(131,58,180,1) 30%, rgba(253,29,29,1) 70%, rgba(252,176,69,1) 80%);
}

footer{
    background: radial-gradient(circle, rgba(253,29,29,1) 70%, rgba(252,176,69,1) 80%);
    width: 100%;
    height: 135px;
}

.rodape{
    text-align: center;
    font-size: larger;
    padding: 45.1px;
    color: white;
}

/* Modo escuro */
body.dark-mode main {
    background: rgb(3, 0, 27);
    color: white;
}

body.dark-mode .textos-carros{
    color: white;
}

.hidden {
    display: none;
}
